@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "_nullstyle";

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

input {
  margin: 0px;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

input {
  border: 0px;
  margin: 0px;
  outline: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1320px;
  margin: 0 auto;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  background: #2196f3;
  width: 100%;
  margin-bottom: 36px;
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    padding: 25px;
    color: #ffffff;
    background: transparent;
  }

  &__button._active {
    background: #1e88e5;
  }
}
