@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '_nullstyle';

body {
  font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1320px;
  margin: 0 auto;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  background: #2196f3;
  width: 100%;
  margin-bottom: 20px;
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    padding: 25px;
    color: #ffffff;
    background: transparent;
  }
}

/*-------------------------------------------------------------*/
/*-----Cats----------------------------------------------------*/
/*-------------------------------------------------------------*/

.cats {
  &__item {
    flex: 1 1 20%;
  }

  &__image {
    width: 200px;
    height: 200px;
  }
}
